* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $font-display;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: $dark;

    @media only screen and (max-width: $bp-tablet) {
        font-size: 36px;
    }

}

h2 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    color: $dark;

    @media only screen and (max-width: $bp-phone) {
        font-size: 36px;
    }
}

h3 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5em;
    color: $dark;

    @media only screen and (max-width: $bp-phone) {
        font-size: 16px;
    }
}

h4 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    color: $accent1;

    @media only screen and (max-width: $bp-phone) {
        font-size: 16px;
    }
}

h5 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    color: $accent2;

    @media only screen and (max-width: $bp-phone) {
        font-size: 16px;
    }
}

p1 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 2em;
    color: $dark;
}

p2 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    color: $dark;
}