@import 'config';
@import 'text';

body {
    background-color: $light;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#preload {
    background-color: $dark;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: all 500ms ease;

    img {
        width: 170px;
        transition: all 2s ease;
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.show {
    opacity: 1;
}

#navbar {
    margin: 0 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        img {
            width: 170px;
        }
    }

    nav {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li {
                list-style: none;
                margin: 40px;

                a {
                    color: $dark;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;

                    text-decoration: 2px underline $accent1;
                    text-underline-offset: 10px;

                    transition: all 0.4s ease-out;

                    &:hover {
                        color: $accent2;

                        text-decoration: 2px underline $accent2;
                    }
                }
            }
        }
    }

    button {
        display: none;
    }
}

#hero {
    #heroDesktop {
        display: block;
        width: 100%;
    }

    #heroTablet {
        display: none;
    }

    #heroPhone {
        display: none;
    }
}

#secondary {
    background: linear-gradient(161.07deg, $dark 7.69%, #444444 46.41%, $dark 69.55%);
    padding: 150px 0;
    overflow: hidden;

    h2 {
        text-align: center;
        color: $light;
        margin-bottom: 150px;
    }

    #grid-container {
        display: flex;
        justify-content: center;
    }

    #cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .card {
        padding: 10px;
        max-width: 40vw;
        border-bottom: 2px solid $light;
        height: max-content;
        display: flex;
        flex-direction: column;
        transition: 300ms ease-in;

        img {
            display: block;
            width: 100%;
        }
    }

    .card-text {
        padding: 5px 0 0;

        h3,
        h4 {
            color: $light;
        }
    }

    .card-text-flex {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

footer {
    background-color: $dark;
    border-top: 2px solid $light;
    color: $light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;


    #footer-left {
        margin-left: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
            width: 80px;
        }
    }

    #footer-right {
        margin-right: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
            width: 40px;
            margin: 10px;
        }
    }
}

//card hover
.card:hover {
    background-color: $accent2;
}

@media only screen and (max-width:$bp-smallScreen) {
    #hero {
        #heroDesktop {
            display: none;
        }

        #heroTablet {
            display: block;
            width: 100%;
        }

        #heroPhone {
            display: none;
        }
    }

    .card:hover {
        background: none;
    }
}

//tablet breakpoint
@media only screen and (max-width: $bp-tablet) {
    #navbar {
        margin: 0 50px;

        a {
            img {
                width: 80px;
            }
        }
    }

    #secondary {
        #cards {
            grid-template-columns: repeat(1, 1fr);
        }

        .card {
            max-width: 80vw;
            padding: 0 0 50px;
            border-bottom: none;
        }

        .card-text-flex {

            h3 {
                font-size: 24px;
            }
        }
    }

    #footer-left {
        a {
            display: none;
        }
    }
}

//phone breakpoint
@media only screen and (max-width: $bp-phone) {
    #navbar {
        .primary-nav {
            position: fixed;
            inset: 0 0 0 10%;
            background-color: $dark;
            flex-direction: column;
            padding: 30% 10%;
            justify-content: flex-start;

            transform: translateX(100%);
            transition: transform 350ms ease-out;

            &[data-visible="true"] {
                transform: translateX(0%);
            }

            a {
                color: $light;
                text-decoration-color: $accent2;
            }
        }

        #hamburger {
            display: block;
            position: absolute;
            z-index: 9999;
            background-image: url(../img/material-symbols_menu.svg);
            background-color: transparent;
            width: 50px;
            aspect-ratio: 1;
            border: none;
            top: 20px;
            right: 50px;

            &[aria-expanded="true"] {
                background-image: url(../img/material-symbols_cross.svg);
            }
        }
    }

    #hero {
        #heroDesktop {
            display: none;
        }

        #heroTablet {
            display: none;
        }

        #heroPhone {
            display: block;
            width: 100%;
        }
    }

    #secondary {
        padding: 50px 0;

        h2 {
            margin-bottom: 50px;
        }

        #cards {
            grid-template-columns: repeat(1, 1fr);
        }

        .card {
            max-width: 80vw;
        }
    }

    #footer-right {
        a {
            display: none;
        }
    }
}